body{
  background-color: grey !important ;
}

.tb{
  margin-top: 20px !important;
}

.footer{
  margin-top: 20px !important;
  background-color: white !important;
  width: 100% !important;
  height: 70px !important;
  display: flex !important;
  justify-content: space-around !important;
  border-radius: 10px !important;
  align-items: center !important;
}

.footer img{
  padding-top: 10px !important;
  width: 70px !important;
  height: 70px !important;
}

.links a{
  text-decoration: none !important;
  padding-left: 15px !important;
  color: rgb(107, 100, 100) !important;
  font-size: 25px !important;
  margin-top: 10px !important;
  transition: 0.5s;
}
.links a:hover{
  font-size: 30px !important;
  color: rgb(32, 30, 30);
}